<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    app:layout_behavior="@string/appbar_scrolling_view_behavior"
    tools:showIn="@layout/activity_main">

	<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation=    "vertical"
    android:layout_width=    "match_parent"
    android:layout_height=    "match_parent">
		

		<LinearLayout
			android:orientation=    "horizontal"
			android:layout_width=    "match_parent"
			android:layout_height=    "40pt">
		
			<TextView
				android:layout_width="wrap_content"
				android:layout_height="match_parent"
				android:layout_weight="0.7"			
				android:text="Hello World!" 
				android:layout_margin = "2dp" 
				android:id="@+id/hrdevice"
						/>			
			<TextView		
				android:text="Text"				
				android:layout_width="wrap_content"
				android:layout_height="match_parent"
				android:layout_weight="0.3"	
				android:id="@+id/ctldeviceStatus"
				android:layout_margin = "2dp"
				android:background ="#F00"
			/>

		</LinearLayout>
		
	<LinearLayout
    android:orientation=    "horizontal"
    android:layout_width=    "match_parent"
    android:layout_height=    "80pt">

		<Button
			android:text="Init"
				android:textSize ="32dp"
			android:layout_weight= "1"
			
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/button1" />
		    
		
	</LinearLayout>

			<TextView
			
				android:layout_width="wrap_content"
				android:layout_height="match_parent"
				android:layout_weight="1"			
				android:text="Log:   --------------------" 
				android:layout_margin = "2dp" 
				android:id="@+id/ctlinfopanel"
			 android:textSize = "20dp"
			android:textColor ="#F00"
						/>

</LinearLayout>

</RelativeLayout>
